@import "../node_modules/bootstrap/scss/bootstrap";
$warning: rgb(230, 14, 32);
$carousel-control-width: 15%;
body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: antiquewhite;
}

nav{
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 1rem;
}
#about p {
  text-align: justify;
}
.card-img,
.card-img-top {
  border: 2px solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/sazava.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -29px;
  min-height: 100vh;
}
.empty-space {
  height: 7rem;
}
.name {
  position: relative;
  margin: 2rem;
}
.caption {
  position: relative;
  top: -4rem;
  left: 2rem;
}
.name h1 {
  font-size: 4rem;
}
.buttons {
  margin: 2rem;
}
.container h2 {
  text-align: center;
}

.contact-form {
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding: 2rem 1rem;
}

.section {
  padding-top: 5rem;
}
//card www *********************************************************
.field {
  border: 1px solid rgb(215, 183, 23);
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.field::before {
  content: "www";
  text-align: center;
  position: absolute;
  width: 61px;
  height: 2rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding-top: 0.1rem;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
// card Mobile applications *************************************
.field-2 {
  border: 1px solid rgb(215, 183, 23);
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.field-2::before {
  content: "Mobile applications";
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  width: 160px;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding-top: 0.1rem;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
// card Programming languages ********************************************
.field-3 {
  border: 1px solid rgb(215, 183, 23);
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.field-3::before {
  content: "Programming languages";
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  width: 200px;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding-top: 0.1rem;
  top: 0rem;
  left: 50%;
  // border: 2px solid red;
  transform: translate(-50%, -50%);
}
// card Databases *****************************************************
.field-4 {
  border: 1px solid rgb(215, 183, 23);
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.field-4::before {
  content: "Databases";
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  width: 97px;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding-top: 0.1rem;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
// card OS management *****************************************************
.field-5 {
  border: 1px solid rgb(255, 218, 32);
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  margin-top: 2rem;
}
.field-5::before {
  content: "OS management";
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  width: 139px;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgb(215, 183, 23);
  padding-top: 0.1rem;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.line {
  border-left: 1px solid rgb(215, 183, 23);
  position: relative;
  margin-left: 0.7rem;
}
// kolecko u line sekce vzdelani
.line h4::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -5px;
  color: rgb(215, 183, 23);
  background-color: white;
  border: 3px solid rgb(215, 183, 23);
  box-shadow: 0 0 20px rgb(215, 183, 23);
  padding-top: 0.1rem;
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.carousel {
  max-width: 40% !important;
}
@media only screen and (max-width: 1440px) {
  .carousel {
    max-width: 100% !important;
  }
}
.coarousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel-inner {
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 1rem;
}

.card {
  box-shadow: 0 0 15px rgb(215, 183, 23);
  border-radius: 1rem;
}
.card-body p {
  text-align: center;
}



.list-group-item {
  background-color: rgba(57, 57, 35, 0.971);
  color: rgb(215, 183, 23);
}
