@import "../node_modules/bootstrap/scss/bootstrap";
body {
  background-color: black;
  margin: 0;
  color: antiquewhite;
}

//img backgroung of main page
header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/sazava.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -29px;
  min-height: 100vh;
}
.empty-space {
  height: 7rem;
}
.name {
  position: relative;
  margin: 2rem;
}
.caption {
  position: relative;
  top: -4rem;
  left: 2rem;
}
.name h1 {
  font-size: 4rem;
}
.buttons {
  margin: 2rem;
}
.container h2 {
  text-align: center;
}

.contact-form {
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgb(224, 171, 13);
  padding: 1rem;
}
.section {
  padding-top: 5rem;
}
